.hiro {
  max-width: 1600px;
  padding-top: 200px;
  margin: 0 auto;
  padding: 0 auto;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hiro.jpg);
  background-color: var(--bgr-hero-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hiro__headline {
  color: var(--text-hover-wight);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.hiro__button {
  padding: 10px 32px;
}
