.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container--display {
  display: flex;
  align-items: baseline;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding-bottom: 94px;
}

.section--bgr {
  background-color: var(--bgr-team);
  padding-top: 94px;
}

.section--paddtop {
  padding-top: 94px;
}
